<div class="grid-row">
    <div class="col-8">
        <h1 class="heading-xlarge">
            Your identity has been confirmed
        </h1>
        <p class="lede">We've identified your details below.</p>
        <dl class="rows la">
            <dt>First name</dt>
            <dd><%=firstName%></dd>
            <dt>Last name</dt>
            <dd><%=lastName%></dd>
            <dt>Organisation</dt>
            <dd><%=organisation.name%></dd>
            <dt>Email</dt>
            <dd><%=email%></dd>
        </dl>
        <p>To start using DfE Sign-in, you’ll need to create a password.</p>
        <p> <a href="/new-password" class="button">Continue</a></p>
    </div>
</div>