<div class="grid-row">
    <div class="col-8">
        <div class="govuk-box-highlight">
            <h1 class="heading-xlarge">
                Account successfully created
            </h1>
            <p class="font-medium">
                You can now use your email, new password and synced token to access Key to Success.
            </p>
        </div>
        <p><a class="button" href="<%=destinationUrl%>"><%=destinationDescription%></a></p>
    </div>
</div>
