<div class="grid-row">
    <div class="col-8">
        <h1 class="heading-xlarge">
            Email address is already in use
        </h1>
        <p>The email address associated to this invitation has already been assigned to a new DfE Sign-in account.</p>
        <p>f you have already converted your account please sign in or if you think there is a problem then please <a href="#">contact the DfE Sign-in service desk.</a></p>
        <p><a class="button" href="<%=destinationUrl%>">Sign-in</a></p>
    </div>
</div>
