<div class="grid-row">
    <div class="col-8">
        <h1 class="heading-xlarge">
            DfE Sign-in
        </h1>
        <p class="lede">DfE Sign-in for Secure Access users.</p>
        <p>This new sign-in system will replace all existing Secure Access systems as the single entrance to all DfE online services and tools.</p>
        <p>Moving to the new system is simple, you'll need:</p>
        <ul class="list-bullet">
            <li>your current Secure Access sign-in details</li>
            <li>your token</li>
        </ul>
        <div class="panel panel-border-wide">
            <p>Use of this service is currently by invitation only.</p>
        </div>
        <div class="form-submit">
            <a href="/eas-auth/<%=id%>"  class="button button-start">Start now</a>
        </div>
    </div>
</div>
