<div class="grid-row">
    <div class="col-8">
        <h1 class="heading-xlarge">
            DfE Sign in: Access DfE services
        </h1>
        <p class="">You can use this service to access many different DfE services using the same sign in details.</p>
        <p class="">You'll need:</p>
        <ul class="list-bullet">
            <li>Something you might need</li>
            <li>Something else you might need</li>
        </ul>
        <div class="panel">
            <p>Currently this service is only available to users who have been invited</p>
        </div>
        <div class="form-submit">
            <button type="submit" class="button button-start">Start now</button>
        </div>
    </div>
</div>
