<div class="grid-row">
    <div class="col-8">
        <h1 class="heading-xlarge">
            DfE Sign in: Access DfE services
        </h1>
        <p class="">You can use this service to access many different DfE services using the same sign in details.</p>
        <p class="">You'll need:</p>
        <ul class="list-bullet">
            <li>Your EAS username</li>
            <li>The code you were emailed</li>
            <li>Your Digipass device</li>
            <li>Some other things you might need....</li>
        </ul>
        <div class="panel">
            <p>Currently this service is only available to users who have been invited</p>
        </div>
        <div class="form-submit">
            <a href="/eas-auth/<%=id%>"  class="button button-start">Start now</a>
        </div>
    </div>
</div>
