<div class="grid-row">
    <div class="col-8">
        <h1 class="heading-xlarge">Link invalid</h1>
        <p>This link has already been used to migrate the account to DfE Sign-in.</p>
        <p>Please sign in below using your email address and new password or if you think there is a problem then please contact the <a href="mailto:helpdesk@dfesignin.education.gov.uk">DfE Sign-in service desk</a>.</p>
        <p><a class="button" href="<%=destinationUrl%>">Sign-in</a></p>
    </div>
</div>
