<div class="grid-row">
    <div class="col-8">
        <h1 class="heading-xlarge">
            You have already migrated your account
        </h1>
        <p class="">You have already used this link to migrate your account to the new DfE Sign-in. Please click below to sign-in using your email address and the password you setup previously.</p>
        <p>If you think there is a problem then please <a href="#">contact the DfE Sign-in service desk.</a></p>
        <p><a class="button" href="<%=destinationUrl%>">Sign-in</a></p>
    </div>
</div>
